.header{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    background: center /  cover no-repeat url("../images/cover4.jpg");
    height: 130vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}

.header h1{
    background: -webkit-linear-gradient( #c56836, #fa6d20 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.header p{
    background: -webkit-linear-gradient(#6c3d1a, #fa6d20 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0; 
}
.head-title{
    background-color: rgb(180, 185, 175,0.4);
    backdrop-filter: blur(2px);
}
